{% extends "base.html" %}

{% block content %}
<h2 class="subtitle">后现代 <strong>文本编辑器</strong></h2>
<!-- <img src="./screenshot.png" /> -->
<div id="demo"></div>
<div class="action">
  <a href="https://docs.helix-editor.com/install.html">立即安装</a>
</div>
<hr />
<section class="content">
  <div class="selling-points">
    <div class="selling-point">
      <h2>多项选择</h2>
      受 <a href="http://kakoune.org/">Kakoune</a> 启发，将多个光标作为核心编辑原语。命令操纵选择，允许并发代码编辑。
      <!-- Editing is focused on being easy to reason with, even if it takes -->
      <!-- a keystroke or two more than Vim or Kakoune. -->
    </div>

    <div class="selling-point">
      <h2><a href="https://tree-sitter.github.io/tree-sitter/">Tree-sitter</a> 集成</h2>
      Tree-sitter 可生成容错且强大的语法树，从而实现更好的语法突出显示、缩进计算和代码导航。
    </div>

    <div class="selling-point">
      <h2>强大的代码处理能力</h2>
      <a href="https://docs.helix-editor.com/usage.html#tree-sitter-textobject-based-navigation">
        导航</a>并<a href="https://docs.helix-editor.com/usage.html#textobjects">选择</a>
      函数、类、注释等，并选择语法树节点而不是纯文本。
    </div>

    <div class="selling-point">
      <h2>
        <a href="https://microsoft.github.io/language-server-protocol/">Language server</a> 支持
      </h2>
      特定语言的自动完成、转到定义、文档、诊断和其他 IDE 功能，无需额外配置。
    </div>

    <div class="selling-point">
      <h2>采用 Rust 构建，用于终端</h2>
      No Electron. No VimScript. No JavaScript. 通过 ssh、tmux 或普通终端使用它。你的笔记本电脑电池寿命将感谢你。
    </div>

    <div class="selling-point">
      <h2>现代化的内置功能</h2>
      模糊查找器可跳转至文件和符号，进行项目范围内的搜索，拥有<a href="https://github.com/helix-editor/helix/wiki/Themes">漂亮的主题</a>，
      自动闭合括号对，
      环绕字符编辑（<a href="https://docs.helix-editor.com/usage.html#surround" title="可以在选中的字符周围插入新的字符">surround</a>）集成等。
    </div>
  </div>
</section>
<hr />
<section class="content">
  <h2><strong>常见问题</strong></h2>

  <h3>后现代？！</h3>
  <p>开玩笑的说，如果 Neovim 是现代版的 Vim，那么 Helix 就是后现代版的。</p>

  <h3>Is it any good?</h3>
  <a href="http://news.ycombinator.com/item?id=3067434">Yes.</a>

  <h3>有没有 GUI 前端的计划？</h3>
  <p>最终，是的！我们想制作一个基于 WebGPU 的替代前端原型。请参阅 GitHub 上的<a href="https://github.com/helix-editor/helix/issues/39">跟踪问题</a>。
  </p>

  <h3>关于插件?</h3>
  <p>虽然目前还没有可用的插件系统，但我们确实打算最终推出一个。但这需要一些时间（<a
      href="https://github.com/helix-editor/helix/discussions/3806">更多讨论请点击此处</a>）。</p>

  <h3>它与 Kakoune 有何不同？</h3>
  <p>通过内置更多功能来实现。 Kakoune 是<a href="https://github.com/mawww/kakoune/blob/master/doc/design.asciidoc">可组合设计</a>，
    依靠外部工具来管理拆分并提供 Language server 支持。Helix 则选择集成更多功能。我们还使用 tree-sitter 进行突出显示和代码分析。</p>

  <h3>它与 Vim 有何不同？</h3>
  <p>通过从头开始，我们能够从使用 Vim 的经验中学习并做出一些突破性改变。结果是代码库变得更小并且拥有一组现代化的默认设置。如果您以前从未使用过模式编辑器（modal editor），那么上手会更容易，而且捣鼓的配置文件也会更少。
  </p>

</section>
<hr />
<section class="content">
  <h2><strong>支持</strong></h2>
  <p>在 <a href="https://github.com/helix-editor/helix">GitHub</a> 贡献代码。</p>
  <p>在 <a href="https://matrix.to/#/#helix-community:matrix.org">Matrix</a> 上讨论该项目。</p>
  <p>在 <a href="https://opencollective.com/helix-editor">OpenCollective</a> 赞助。</p>
</section>
<hr />
<script src="./asciinema-player.min.js"></script>
<script>
  AsciinemaPlayer.create('/430253.cast', document.getElementById('demo'), {
    cols: 120,
    rows: 35,
  });
</script>
{% endblock content %}